/* .scene {
  width: 80vw;
  height: 37vw;
  perspective: 600px;
} */
img {width: 500px}
.card {
  width: 75vw;
   height: 30vw;
  position: relative;

  border-radius: 20px;
}

/* .card_face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
} */

.front {
  background: rgb(250, 251, 252);
  border-radius: 20px;
  border-color: rgb(59, 58, 58);
}

.back {
  background: rgb(86, 240, 150);
  border-radius: 20px;

}

/* .card.is-flipped {
  transform: rotateY(180deg);
} */

h1 {font-size: 8vw;
    color: black;
  }